<footer>
    <div class="uk-section-default uk-section uk-section-large">
        <div class="uk-container uk-container-large">
            <div class="uk-grid tm-grid-expand uk-grid-large uk-grid-margin-large" data-uk-grid>
                <div class="uk-width-1-2@l">
                    <h2 class="uk-h6 uk-text-muted">For Inspirations, Special Offers and Much More</h2>
                    <div class="uk-width-large uk-text-left@s uk-text-center">
                        <form class="uk-form uk-panel js-form-newsletter" method="post" action="https://demo.yootheme.com/wordpress/themes/craft.white-dove/wp-admin/admin-ajax.php?action=kernel&amp;p=theme%2Fnewsletter%2Fsubscribe&amp;hash=82dda1f0">
                            <div class="uk-position-relative">
                                <button class="el-button uk-form-icon uk-form-icon-flip" uk-icon="icon: mail;" title="Subscribe"></button>                <input class="el-input uk-input uk-form-large" type="email" name="email" placeholder="Your E-Mail Address" aria-label="Your E-Mail Address" required>
                            </div>
                            <input type="hidden" name="settings" value="eyJuYW1lIjoibWFpbGNoaW1wIiwiYWZ0ZXJfc3VibWl0IjoibWVzc2FnZSIsIm1lc3NhZ2UiOiJZb3UndmUgYmVlbiBzdWJzY3JpYmVkIHN1Y2Nlc3NmdWxseS4iLCJyZWRpcmVjdCI6IiIsImNsaWVudF9pZCI6IiIsImxpc3RfaWQiOiIiLCJkb3VibGVfb3B0aW4iOnRydWV9">
                            <div class="message uk-margin uk-hidden"></div>
                        </form>
                    </div>
                </div>
                <div class="uk-width-auto uk-width-expand@l">
                    <ul class="uk-list">
                        <li class="el-item">
                            <div class="el-content uk-panel uk-h6">
                                <a href="https://www.pinterest.com" class="el-link uk-link-muted uk-margin-remove-last-child">Pinterest</a>
                            </div
                        </li>
                        <li class="el-item">
                            <div class="el-content uk-panel uk-h6">
                                <a href="https://www.facebook.com/yootheme" class="el-link uk-link-muted uk-margin-remove-last-child">Facebook</a>
                            </div>
                        </li>
                        <li class="el-item">
                            <div class="el-content uk-panel uk-h6">
                                <a href="https://www.instagram.com" class="el-link uk-link-muted uk-margin-remove-last-child">Instagram</a>
                            </div>
                        </li>
                        <li class="el-item">
                            <div class="el-content uk-panel uk-h6">
                                <a href="https://twitter.com/yootheme" class="el-link uk-link-muted uk-margin-remove-last-child">Twitter</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="uk-width-auto uk-width-expand@l">
                    <ul class="uk-list">
                        <li class="el-item">
                            <div class="el-content uk-panel uk-h6">
                                <a href="https://demo.yootheme.com/wordpress/themes/craft.white-dove/?page_id=2" class="el-link uk-link-muted uk-margin-remove-last-child">Services</a>
                            </div>
                        </li>
                        <li class="el-item">
                            <div class="el-content uk-panel uk-h6">
                                <a href="https://demo.yootheme.com/wordpress/themes/craft.white-dove/?page_id=5" class="el-link uk-link-muted uk-margin-remove-last-child">Portfolio</a>
                            </div>
                        </li>
                        <li class="el-item">
                            <div class="el-content uk-panel uk-h6">
                                <a href="https://demo.yootheme.com/wordpress/themes/craft.white-dove/?page_id=4" class="el-link uk-link-muted uk-margin-remove-last-child">About</a>
                            </div>
                        </li>
                        <li class="el-item">
                            <div class="el-content uk-panel uk-h6">
                                <a href="https://demo.yootheme.com/wordpress/themes/craft.white-dove/?post_type=post" target="_blank" class="el-link uk-link-muted uk-margin-remove-last-child">News</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="uk-width-auto uk-width-expand@l">
                    <div class="uk-h6 uk-text-muted uk-margin-small">Main Street 123</div>
                    <div class="uk-h6 uk-text-muted uk-margin-remove-vertical">12345 London, UK</div>
                    <ul class="uk-list uk-margin-small">
                        <li class="el-item">
                            <div class="el-content uk-panel uk-h6">
                                <a href="tel:+5551234678" class="el-link uk-link-muted uk-margin-remove-last-child">+555 - 1234678</a>
                            </div>
                        </li>
                        <li class="el-item">
                            <div class="el-content uk-panel uk-h6">
                                <a href="mailto:craft@example.com" class="el-link uk-link-muted uk-margin-remove-last-child">craft@example.com</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-section-muted uk-section uk-section-xsmall">
        <div class="uk-container uk-container-large">
            <div class="uk-grid tm-grid-expand uk-grid-row-small uk-grid-margin-small" uk-grid>
                <div class="uk-grid-item-match uk-flex-middle uk-width-expand@l">
                    <div class="uk-panel uk-width-1-1">
                        <div class="uk-margin uk-text-center" uk-scrollspy="target: [uk-scrollspy-class];">
                            <span href="https://demo.yootheme.com/wordpress/themes/craft.white-dove/?page_id=1">
                                <img src="{{ 'assets/images/icon.png'|theme }}" width="60" height="60" class="el-image" alt loading="lazy" data-uk-svg>
                            </span>
                        </div>
                    </div>
                </div>
<div class="uk-grid-item-match uk-flex-middle uk-width-auto@l uk-flex-first@l">




                        <div class="uk-panel uk-width-1-1">

                    <div class="uk-panel uk-text-meta uk-margin uk-text-left@m">© <script> document.currentScript.insertAdjacentHTML('afterend', '<time datetime="' + new Date().toJSON() + '">' + new Intl.DateTimeFormat(document.documentElement.lang, {year: 'numeric'}).format() + '</time>'); </script> Craft. All rights reserved. Powered by <a class="uk-link-text" href="https://yootheme.com/">YOOtheme</a>.</div>

                        </div>



</div>
<div class="uk-grid-item-match uk-flex-middle uk-width-expand@l">




                        <div class="uk-panel uk-width-1-1">


<div class="uk-text-right@l uk-text-left">
    <ul class="uk-margin-remove-bottom uk-subnav uk-flex-right@l uk-flex-left" uk-margin>        <li class="el-item ">
    <a class="el-link" href="https://demo.yootheme.com/wordpress/themes/craft.white-dove/?page_id=11">Terms of Service</a></li>
        <li class="el-item ">
    <a class="el-link" href="https://demo.yootheme.com/wordpress/themes/craft.white-dove/?page_id=10">Imprint</a></li>
        </ul>

</div>

                        </div>



</div></div>
                                </div>




</div>            </footer>
