{# header for mobile screens #}
<header class="tm-header-mobile uk-hidden@l">
    <div uk-sticky cls-active="uk-navbar-sticky" sel-target=".uk-navbar-container">
         <div class="uk-navbar-container">
             <div class="uk-container uk-container-expand">
                <nav class="uk-navbar" data-uk-navbar="{&quot;container&quot;:&quot;.tm-header-mobile &gt; [uk-sticky]&quot;}">
                    <div class="uk-navbar-left">
                        <a data-uk-toggle href="#tm-dialog-mobile" class="uk-navbar-toggle uk-navbar-toggle-animate">
                            <div uk-navbar-toggle-icon></div>
                        </a>
                    </div>
                    <div class="uk-navbar-center">
                        <a href="{{ 'home'|page }}" aria-label="Back to home" class="uk-logo uk-navbar-item">
                            <img alt="DevStack" loading="eager" width="145" height="24" src="{{ 'assets/images/artparkett-logo.svg'|theme }}">
                        </a>
                    </div>
                    <div class="uk-navbar-right">
                        <div class="uk-navbar-item">
                            <div class="uk-visible@s uk-grid tm-grid-expand uk-grid-column-small uk-grid-row-collapse" data-uk-grid>
                                <div class="uk-grid-item-match uk-flex-middle uk-width-expand uk-visible@s">
                                    <div class="uk-panel uk-width-1-1">
                                        <div class="uk-visible@s">
                                            <ul class="uk-margin-remove-bottom uk-subnav">
                                                <li class="el-item ">
                                                    <a class="el-link" href="#" uk-scroll>Login</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-auto uk-visible@s">
                                    <div class="uk-margin uk-visible@s">
                                        <a class="el-content uk-button uk-button-primary uk-button-small" href="#" data-uk-scroll>Register</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    {# mobile menu #}
    <div id="tm-dialog-mobile" class="uk-dropbar uk-dropbar-top" uk-drop="{&quot;clsDrop&quot;:&quot;uk-dropbar&quot;,&quot;flip&quot;:&quot;false&quot;,&quot;container&quot;:&quot;.tm-header-mobile&quot;,&quot;target-y&quot;:&quot;.tm-header-mobile .uk-navbar-container&quot;,&quot;mode&quot;:&quot;click&quot;,&quot;target-x&quot;:&quot;.tm-header-mobile .uk-navbar-container&quot;,&quot;stretch&quot;:true,&quot;bgScroll&quot;:&quot;false&quot;,&quot;animation&quot;:&quot;reveal-top&quot;,&quot;animateOut&quot;:true,&quot;duration&quot;:300,&quot;toggle&quot;:&quot;false&quot;}">
        <div class="tm-height-min-1-1 uk-flex uk-flex-column">
            <div class="uk-margin-auto-bottom">
                <div class="uk-grid uk-child-width-1-1">
                    <div>
                        <div class="uk-panel">
                            <ul class="uk-nav uk-nav-default uk-nav-divider uk-nav-accordion" uk-nav="targets: &gt; .js-accordion">
                                <li {% if this.page.id == 'home' %}class="uk-active"{% endif %}>
                                    <a href="{{ 'home'|page }}">Home</a>
                                </li>
                                <li class="js-accordion uk-parent">
                                    <a href>Service <span uk-nav-parent-icon></span></a>
                                    <ul class="uk-nav-sub">
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                            <a href="https://demo.yootheme.com/wordpress/themes/devstack.light-orange/?page_id=24"> Support</a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                            <a href="https://demo.yootheme.com/wordpress/themes/devstack.light-orange/?page_id=20"> Feature Index</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="https://demo.yootheme.com/wordpress/themes/devstack.light-orange/?page_id=2"> Enterprise</a>
                                </li>
                                <li>
                                    <a href="https://demo.yootheme.com/wordpress/themes/devstack.light-orange/?page_id=21"> Pricing</a>
                                </li>
                                <li class="js-accordion uk-parent">
                                    <a href> Company <span uk-nav-parent-icon></span></a>
                                    <ul class="uk-nav-sub">
                                        <li class="">
                                            <a href="https://demo.yootheme.com/wordpress/themes/devstack.light-orange/?page_id=4"> About</a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                            <a href="https://demo.yootheme.com/wordpress/themes/devstack.light-orange/?page_id=23"> Our Story</a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy">
                                            <a href="https://demo.yootheme.com/wordpress/themes/devstack.light-orange/?page_id=3"> Careers</a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                            <a href="https://demo.yootheme.com/wordpress/themes/devstack.light-orange/?page_id=65"> Blog</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-grid-margin">
                <div class="uk-grid uk-child-width-1-1">
                    <div>
                        <div class="uk-panel">
                            <div class="uk-grid tm-grid-expand uk-child-width-1-1 uk-grid-margin">
                                <div class="uk-width-1-1">
                                    <div class="uk-margin">
                                        <a class="el-content uk-width-1-1 uk-button uk-button-primary uk-button-large" href="#" data-uk-scroll>Register</a>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-grid tm-grid-expand uk-child-width-1-1 uk-grid-margin">
                                <div class="uk-width-1-1">
                                    <div class="uk-text-center">
                                        <ul class="uk-margin-remove-bottom uk-subnav  uk-subnav-divider uk-flex-center" data-uk-margin>
                                            <li class="el-item ">
                                                <a class="el-link" href="#" data-uk-scroll>Contact Us</a>
                                            </li>
                                            <li class="el-item">
                                                <a class="el-link" href="#" data-uk-scroll>Login</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{# header for mobile screens #}

{# header for large screens #}
<header>
    <div class="tm-header uk-visible@m" data-uk-header>
        <div class="tm-headerbar-default tm-headerbar tm-headerbar-top">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle">
                <a href="{{ 'home'|page }}" class="uk-logo">
                    <img src="{{ 'assets/images/artparkett-logo.svg'|theme }}" alt="Parkett Stelzl - Parkett- und Bodenleger aus München" width="220" height="61" data-uk-img>
                </a>
                <div class="uk-margin-auto-left">
                    <div class="uk-grid-medium uk-child-width-auto uk-flex-middle" data-uk-grid>
                        <div>
                            <div class="uk-panel">
                                <div class="uk-margin-remove-last-child">
                                    <ul class="uk-subnav uk-subnav-divider">
                                        <li data-uk-tooltip="title: In unserem Büro anrufen; pos: bottom">
                                            <a href="tel:0049896892177">
                                                <span data-uk-icon="icon: phone"></span>
                                                <span style="font-size: 12px;">Büro: <br>089 689 21 77</span>
                                            </a>
                                        </li>
                                        <li data-uk-tooltip="title: In unserer Ausstellung anrufen; pos: bottom">
                                            <a href="tel:00498974495130">
                                                <span data-uk-icon="icon: phone"></span>
                                                <span style="font-size: 12px;">Ausstellung: <br>089 744 95 130</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-panel">
                                <ul class="uk-iconnav">
                                    <li>
                                        <a class="uk-search-toggle" href="#search-modal" data-uk-search-icon data-uk-toggle></a>
                                        <div id="search-modal" class="uk-modal-full" data-uk-modal>
                                            <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" data-uk-height-viewport>
                                                <button class="uk-modal-close-full" type="button" data-uk-close></button>
                                                <div class="uk-search uk-search-large">
                                                    <form class='uk-search uk-search-large' action='/search/' method='get'>
                                                        <input type='search' id='search-query' name='q' class='uk-search-input uk-text-center' placeholder='Seite durchsuchen...' autofocus>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a data-uk-icon="icon: world"></a>
                                        <div data-uk-dropdown="mode: click">
                                            <ul class="uk-nav uk-dropdown-nav">
                                                <li class='uk-active'>
                                                    <a class='lang-item Deutsch' hreflang='de' href='/impressum/'>Deutsch</a>
                                                </li>
                                                <li class='no-current'>
                                                    <a class='lang-item Englisch' hreflang='en' href='/en/imprint/'>Englisch</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-uk-sticky="media: @m; cls-active: uk-navbar-sticky; sel-target: .uk-navbar-container;">
            <div class="uk-navbar-container">
                <div class="uk-container uk-container-large uk-flex uk-flex-middle">
                    <nav class="uk-navbar uk-flex-auto" data-uk-navbar="align: left; boundary: .tm-header . uk-navbar-container; container: .tm-header > [uk-sticky]; mode: click;">
                        <div class="uk-navbar-left uk-flex-auto">
                            <ul class="uk-navbar-nav">
                                <div class='uk-navbar-center uk-visible@m'>
    <ul class='uk-navbar-nav'>
        <li class="uk-active"><a href='/'>Home</a></li>
        <li><a href='#'>Service</a>
        <div class='uk-navbar-dropdown'>
            <ul class='uk-nav uk-navbar-dropdown-nav'>
        <li><a href='/fussboden-verlegen-vom-fachmann/'>Fussboden verlegen vom Fachmann</a></li>
        <li><a href='/parkett-schleifen-und-renovieren/'>Parkett schleifen und renovieren</a></li>
        <li><a href='/treppenrenovierung/'>Treppenrenovierung</a></li>
    </ul>
        </div>
    </li>
        <li><a href='/wir-ueber-uns/'>Wir über uns</a></li>
        <li><a href='/unsere-austellung-in-munchen-forstenried/'>Ausstellung</a></li>
        <li><a href='/galerie/'>Galerie</a></li>
        <li><a href='/kontaktieren-sie-uns/'>Kontakt</a></li>
    </ul></div>						</ul>
                            <div class="uk-margin-auto-left uk-navbar-item">
                                <div class="uk-margin-remove-last-child custom">
                                    <a href="/kontaktieren-sie-uns/" class="uk-button uk-button-primary">Anfrage stellen</a>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
