.tm-header, .tm-header-mobile {
  position: relative;
}
.tm-headerbar-top, .tm-headerbar-default {
  background: #fff;
}
.tm-headerbar-top {
  padding-top: 20px;
  padding-bottom: 20px;
}
.tm-headerbar-top {
  position: relative;
  z-index: 991;
}
.tm-header .tm-headerbar-top + * .uk-navbar {
  border-top: 1px solid #e7e8ea;
}
.uk-navbar-nav>li>a {
  &:hover {
    height: 2px;
  }
}
.uk-navbar-nav>li.uk-active>a {
  &:before {
    height: 2px;
  }
}

.uk-navbar-nav>li:hover>a::before, .uk-navbar-nav>li>a[aria-expanded=true]::before {
  height: 2px;
}

.uk-navbar-container {
  box-shadow: 0 5px 15px rgb(39 44 63 / 6%);
  z-index: 990;
}